.saas_home_area-platform {
    height: 32px;
}

.opensource-logo {
  max-width: 90%;
  width: 450px;
}

.integrations-wiki-logo {
  width: 150px;
  margin-top: 10px;
}

.comingsoon-bookmark {
  top: 58px !important;
}

.navbar-brand img {
  width: 150px;
}

.payment_service_area .pay_icon img {
  height: 42px;
}

.action_area_three .curved{
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  z-index: -1;
  background: url("../img/custom/action_shap.png") no-repeat scroll center top;
  top: 0;
  background-size: contain;
}
