.saas_home_area-platform {
    height: 32px;
}

.opensource-logo {
  max-width: 90%;
  width: 450px;
}

.integrations-wiki-logo {
  width: 150px;
  margin-top: 10px;
}

.comingsoon-bookmark {
  top: 58px !important;
}

.navbar-brand img {
  width: 150px;
}

.payment_service_area .pay_icon img {
  height: 42px;
}
